.color-letter {
  color: white;
}

.bolt {
  font-weight: 700;
}

.color-nav {
  background-color: #e7e7e7;
  height: 100vh;
}

.logo img {
  width: 60px !important;
  margin-left: 30px;
  margin-top: 5px
}

.header ul li {
  padding: 80px auto
}

.card1{
  padding-left: 15px;
  padding-right: 15px
}

.header {
  background-color: #024e4e;
  z-index: 100000;
}

/* .container-li {
  padding-top: 25px;
} */

.icon-navbar {
  padding-top: 25px;
  font-size: 35px !important;
}

.padding-none {
  padding: 0px !important;
}

.container-maps {
  padding: 0px !important;
  margin-bottom: 0px !important

}

.section-map {
  margin-top: 2px;
  margin: 0px !important
}

.marg {
  margin-top: 35px;
}

.input {
margin-top: 50px;
}

.fixed {
  position: fixed;
}

.busqueda {
  padding-top: 60px !important
}

.stuck {
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 100%;
  overflow-y: scroll;
}